    <!-- Intro Header -->
    {% assign locale = site.data.locale | where: "lang", site.lang | first %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 outlined-text">
                        <h1 class="brand-heading">{{ locale.name.last }}</h1>
                        <h2>{{ locale.name.first }} {{ locale.name.patronymic }}</h1>
                        <p class="intro-text">{{ locale.intro.description }}</p>
                        <blockquote class="bq-catchphrase">{{ locale.intro.catchphrase }}</blockquote>
                        <p><a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
